.today {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 1024px){
    .today{
        justify-content: center;
        align-items: center;
    }
}