.hours-weather__current {
    visibility: hidden;
    margin-top: 8px;
    font-size: 14px;
}

@media screen and (max-width: 630px){
    .hours-weather__current {
        visibility: hidden;
        margin-top: 8px;
        font-size: 12px;
    }
}



@media screen and (max-width: 530px){
    .hours-weather__current {
        visibility: hidden;
        margin-top: 8px;
        font-size: 10px;
    }
}

